@model IEnumerable<Document_Repo_Final_Project.Models.DocumentLog>

@{
    ViewData["Title"] = "Index";
}

<h1>Document Logs</h1>


<table class="table table-bordered table-striped table-secondary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>

            <th>
                Publisher
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Document.DocumentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operation)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Document.Publisher.Email)
            </td>
            <td>
                
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
